@import "vars";
@import "mixins";

.about-us {
  min-width: 320px;
  padding: 30px 20px;
  text-align: center;

  &__title {
    font-size: $font-size-30;
    color: $orange-color;
    font-weight: $font-weight-normal;
    margin-bottom: 30px;
  }

  &__line {
    margin-bottom: 20px;
  }

  &__line::before,
  &__line::after {
    background: linear-gradient(90deg, $orange-color 50%,
    rgba(0, 0, 0, 0) 100%);
  }

  &__decor {
    margin: auto;
    width: 26px;
    height: 26px;
    background-color: $white-color;
    border: 1px solid $orange-color;
  }

  &__decor::before {
    width: 40px;
    height: 12px;
    background-color: $white-color;
  }

  &__decor::after {
    width: 18px;
    height: 18px;
  }

  &__subtitle {
    font-size: $font-size-20;
    font-weight: 300;
    margin-bottom: 10px;
    color: $dark-text-color;

    &--do {
      margin-bottom: 30px;
    }
  }

  &__description {
    position: relative;
    color: $grey-text-color;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: $font-size-15;
    line-height: 25px;
    font-style: italic;
    margin-bottom: 50px;
  }

  &__description::after {
    content: "*****";
    position: absolute;
    bottom: -35px;
    @include horizontal-centered;
  }

  &__button {
    width: 220px;
    font-size: $font-size-18;
    line-height: 43px;
  }
}

@media (min-width: $screen-width-medium) {
  .about-us {
    padding: 72px 20px;

    &__title {
      font-size: $font-size-50;
      margin-bottom: 42px;
    }

    &__subtitle {
      font-size: $font-size-30;
      margin-bottom: 20px;

      &--do {
        margin-bottom: 60px;
      }
    }

    &__description {
      font-size: $font-size-20;
      margin-bottom: 80px;
    }

    &__features {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 75px;
    }
  }
}

@media (min-width: $screen-width-big) {
  .about-us {
    padding: 72px calc((100vw - 1170px) / 2);

    &__features {
      justify-content: space-between;
      width: 900px;
      margin: auto;
      margin-bottom: 75px;
    }

    &__description {
      width: 920px;
      margin: auto;
      margin-bottom: 80px;
    }
  }
}

@media (min-width: $screen-width-biggest) {
  .about-us {
    &__features {
      width: 1170px;
    }
  }
}
