@import "vars";
@import "mixins";

.contact {
  min-width: 320px;
  padding: 30px 20px;
  text-align: center;
  background-color: #2c3e50;
  color: $white-color;

  &__title {
    font-size: 30px;
    line-height: 1.5;
    font-weight: 300;
  }

  &__text {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 20px;
  }

  &__input {
    width: 100%;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    line-height: 18px;
    padding: 12px;
    color: $grey-text-color;
    margin-bottom: 15px;
    transition: box-shadow $transition-duration $easy-function;

    &:hover {
      box-shadow: 0 0 5px inset darkblue;
    }
  }

  &__button {
    width: 135px;
    font-size: $font-size-18;
    line-height: 43px;
    margin-bottom: 30px;
  }
}

@media (min-width: $screen-width-medium) {
  .contact {
    padding: 45px 20px;

    &__title {
      font-size: 30px;
      line-height: 60px;
    }

    &__text {
      font-size: 15px;
      line-height: 30px;
      margin-bottom: 30px;
    }

    &__form {
      display: flex;
      justify-content: space-between;
      margin: auto;
      width: 585px;
    }

    &__input {
      width: 425px;
    }
  }
}
