@import "vars";
@import "mixins";

.skills {
  min-width: 320px;
  padding: 30px 20px;
  text-align: center;
  color: $white-color;

  background-image: linear-gradient(90deg,
  rgba(44, 62, 80, 0.5) 0%, rgba(44, 62, 80, 0.5) 100%),
    url(../images/skills-background.png);
  @include image-centered;

  &__title {
    margin-bottom: 30px;
    font-size: $font-size-30;
    line-height: 50px;
    font-weight: $font-weight-normal;
  }

  &__line {
    margin-bottom: 20px;
  }

  &__line::before,
  &__line::after {
    background: linear-gradient(90deg, $white-color 50%, rgba(0, 0, 0, 0) 100%);
  }

  &__decor {
    margin: auto;
    width: 26px;
    height: 26px;
    background-color: #3b4b5c;
    border: 1px solid $white-color;
  }

  &__decor::before {
    width: 40px;
    height: 12px;
    background-color: #324455;
  }

  &__decor::after {
    width: 18px;
    height: 18px;
    background-color: $white-color;
  }

  &__list {
    list-style: none;
  }
}

@media (min-width: 480px) {
  .skills {

    &__list {
      @include flex-space-between;
      flex-wrap: wrap;
      margin: auto;
      width: 440px;
    }
  }
}

@media (min-width: $screen-width-medium) {
  .skills {
    padding: 72px 20px;

    &__title {
      font-size: $font-size-50;
      line-height: 70px;
    }

    &__list {
      width: 550px;
    }
  }
}

@media (min-width: $screen-width-big) {
  .skills {
    &__decor::before {
      background-color: #495968;
    }

    &__list {
      width: 920px;
    }
  }
}

@media (min-width: $screen-width-biggest) {
  .skills {
    padding: 72px calc((100vw - 1170px) / 2);

    &__list {
      width: 1170px;
    }
  }
}
