@import "vars";
@import "mixins";

@keyframes dash-1 {
  from {
    stroke-dashoffset: 557px;
  }

  to {
    stroke-dashoffset: calc(557px * 0.03);
  }
}

@keyframes dash-2 {
  from {
    stroke-dashoffset: 557px;
  }

  to {
    stroke-dashoffset: calc(557px * 0.01);
  }
}

@keyframes dash-3 {
  from {
    stroke-dashoffset: 557px;
  }

  to {
    stroke-dashoffset: calc(557px * 0.07);
  }
}

@keyframes dash-4 {
  from {
    stroke-dashoffset: 557px;
  }

  to {
    stroke-dashoffset: calc(557px * 0.11);
  }
}

.skill-block {
  position: relative;

  &__round {
    width: 196px;
    height: 196px;
    transform: rotate(-90deg);

    & circle {
      fill: none;
      stroke: $orange-color;
      stroke-width: 8px;
      stroke-linecap: round;
    }
  }

  &:nth-child(1) &__round circle {
    stroke-dasharray: 557px;
    animation: dash-1 5s linear forwards;
  }

  &:nth-child(2) &__round circle {
    stroke-dasharray: 557px;
    animation: dash-2 5s linear forwards;
  }
  &:nth-child(3) &__round circle {
    stroke-dasharray: 557px;
    animation: dash-3 5s linear forwards;
  }
  &:nth-child(4) &__round circle {
    stroke-dasharray: 557px;
    animation: dash-4 5s linear forwards;
  }

  &__value {
    position: absolute;
    top: 73px;
    @include horizontal-centered;

    font-size: $font-size-50;
    line-height: 50px;
  }

  &__title {
    font-size: $font-size-22;
    font-weight: $font-weight-light;
    line-height: 70px;
    text-transform: uppercase;
  }
}
